
{% if centos_infra_env == 'prod' %}
[centos-pagure]
name=CentOS Infra Pagure repository
baseurl=http://mirror.stream.centos.org/SIGs/$releasever/infra/$basearch/gitforge-pagure/
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-Infra
{% elif centos_infra_env == 'stg' %}
[centos-pagure]
name=CentOS Infra Pagure repository
baseurl=http://buildlogs.centos.org/centos/$releasever/infra/$basearch/gitforge-pagure/
enabled=1
gpgcheck=0
{% else %}
[centos-pagure]
name=CentOS Infra dev Pagure repository
baseurl=http://repo.dev.centos.org/$releasever/infra/gitforge-pagure/$basearch/
enabled=1
gpgcheck=0
{% endif %}

