WSGISocketPrefix run/wsgi
WSGIRestrictStdout Off
WSGIRestrictSignal Off
WSGIPythonOptimize 1
WSGIPassAuthorization On
WSGIDaemonProcess pagure user=git group=git maximum-requests=1000 display-name=pagure processes={{ pagure_httpd_wsgi_processes }} threads={{ pagure_httpd_wsgi_threads }} inactivity-timeout={{ pagure_httpd_wsgi_inactivity_timeout }}
WSGIApplicationGroup %{GLOBAL}

WSGIScriptAlias / /usr/share/pagure/pagure.wsgi
TimeOut {{ pagure_httpd_timeout }}

{% if ansible_distribution_major_version == '7' %}
Alias /static /usr/lib/python2.7/site-packages/pagure/static/
{% else %}
Alias /static /usr/lib/python3.6/site-packages/pagure/static/
{% endif %}
Alias /releases /var/www/releases

<Location />
 WSGIProcessGroup pagure
 <IfModule mod_authz_core.c>
    # Apache 2.4
    Require all granted
 </IfModule>
 <IfModule !mod_authz_core.c>
    # Apache 2.2
    Order deny,allow
    Allow from all
 </IfModule>
</Location>

## Folder where are stored the tarball of the releases
#<Location /releases>
 #WSGIProcessGroup pagure
 #<IfModule mod_authz_core.c>
    ## Apache 2.4
    #Require all granted
 #</IfModule>
 #<IfModule !mod_authz_core.c>
     ## Apache 2.2
    #Order deny,allow
    #Allow from all
 #</IfModule>
#</Location>
#<Directory /var/www/releases>
  #Options +Indexes
#</Directory>

